<div class="content--center">
  <div class="padding--top">
    <h1 class="margin--no-margin">{{ title }}</h1>
  </div>
  <!-- Digital clock -->
  <div class="padding--top">
    <div class="digit-clock">
      <span class="digit-clock__box">{{ currentClock.hour | clockDigitFormat }}</span>
      <span class="digit-clock__divider">:</span>
      <span class="digit-clock__box">{{ currentClock.minute | clockDigitFormat }}</span>
      <span class="digit-clock__divider">:</span>
      <span class="digit-clock__box">{{ currentClock.second | clockDigitFormat }}</span>
      <span class="digit-clock__space"></span>
      <span class="digit-clock__box">{{ currentClock.period }}</span>
    </div>
  </div>
  <!-- Analog clock -->
  <div class="padding--top">
    <div class="clock">
      <div class="clock__wrapper">
        <div class="clock__mark-wrapper">
          <div class="clock__number-mark mark--one"></div>
          <div class="clock__number-mark mark--two"></div>
          <div class="clock__number-mark mark--three"></div>
          <div class="clock__number-mark mark--four"></div>
          <div class="clock__number-mark mark--five"></div>
          <div class="clock__number-mark mark--six"></div>
          <div class="clock__inner-wrapper">
            <div class="clock__hand hand--hour" [ngStyle]="currentClock.hourHandStyle"></div>
            <div class="clock__hand hand--minute" [ngStyle]="currentClock.minuteHandStyle"></div>
            <div class="clock__hand hand--second" [ngStyle]="currentClock.secondHandStyle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Clock controller -->
  <div class="padding--top">
    <div class="padding--top">
      <button (click)="changeClockState()" class="primary-button">
        {{ clockIsAuto ? 'Change to custom clock' : 'Change to auto clock' }}
      </button>
      <div class="padding--top">
        <div *ngIf="!clockIsAuto">
          <span>Enter new time : </span>
          <input [(ngModel)]="customClock.hour" (keyup)="updateClock('hour', $event)" type="number" [placeholder]="customClock.hour | clockDigitFormat" class="primary-input clock-input">
          <input [(ngModel)]="customClock.minute" (keyup)="updateClock('minute', $event)" clockMinute type="number" [placeholder]="customClock.minute | clockDigitFormat" class="primary-input clock-input">
          <input [(ngModel)]="customClock.second" (keyup)="updateClock('second', $event)" clockSecond type="number" [placeholder]="customClock.second | clockDigitFormat" class="primary-input clock-input">
        </div>
      </div>
    </div>
  </div>
</div>
